# Configurações do Servidor Backend FastAPI
CRIFFER_API_URL=https://api.criffer.com.br
CRIFFER_API_TOKEN=seu_token_aqui_sem_aspas

# Configurações do Frontend React (Vite)
VITE_API_URL=http://localhost:8000
